body {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkgray;
    height: 99%;
    width: 99%;
}

canvas {
    display: flex;
    max-width: 100%;
}
input {
    max-width: 50px;
}
.spacer {
    width: 25px;
}